{% extends 'base.html' %}

{% block title %}Index{% endblock %}
{% block content %}
    <h1>Hello, {{ name }}!</h1>
    <h2>Cool Search Engines for you:</h2>
    <ul>
        {% for s_name, url in search_engines.items() %}
            {% if s_name == 'Yahoo' %}
                <li><a href="#" onclick="alert('{{ s_name }} is blocked!'); return false;">{{ s_name }} (blocked)</a></li>
            {% else %}
                <li><a href="{{ url }}" target="_blank">{{ s_name }}</a></li>
            {% endif %}
        {% endfor %}
    </ul>
    <form action="/add" method="post">
        <label for="search-engine-name">Search Engine Name:</label><br>
        <input type="text" id="search-engine-name" name="search-engine-name" placeholder="e.g. Web.de" required><br>
        <label for="search-engine-url">Search Engine URL:</label><br>
        <input type="url" id="search-engine-url" name="search-engine-url" placeholder="e.g. https://web.de" required><br>
        <input type="submit" value="Add Search Engine">
    </form>
{% endblock %}